@import "../../variables";

@media (min-width: 1500px)  {
   img {
      width: 1000px;
      object-fit: cover;
      border-radius: 5px;
      float: right
   }
}
@media (max-width: 1500px) {
   img {
      width: 100%;
      object-fit: fill;
      border-radius: 5px;
   }
}