<img src="../../assets/cathedral-7977078_1280.jpg" alt="Wrocław city"/>
<div class="title huge-m-b md-m-y">About</div>
<div class="md-m-y">
   Welcome to Street Lights Calculator, your dedicated tool for illuminating the path to energy efficiency in urban lighting. Our mission is to empower city planners, environmentalists, and concerned citizens with accurate, user-friendly calculations of power consumption for street lamps across the cityscape.
</div>
<div class="text-big text-bold">
   Our Vision
</div>
<div class="md-m-y">
   In a world where energy conservation is not just a choice but a necessity, we envision a future where every street lamp is a beacon of sustainability. Our platform is designed to shed light on the power usage of street lamps, enabling informed decisions that lead to greener cities.
</div>
<div class="text-big text-bold">
   What We Offer
</div>
<div class="md-m-y">
   Power Consumption Calculator: An intuitive interface that allows you to select specific street lamps and input their power ratings to calculate the total energy consumption.
   Customizable Reports: Generate detailed reports that break down power usage by districts, streets, or lamp types, tailored to your needs.
   Energy-Saving Solutions: Based on your calculations, we provide recommendations for energy-saving alternatives and upgrades to more efficient lighting systems.
   Educational Resources: Access a wealth of information on energy efficiency, the impact of lighting on the environment, and the latest advancements in street lamp technology.
</div>
<div class="text-big text-bold">
   How It Works
</div>
<div class="md-m-y">
   <ol>
      <li><span class="text-bold">Select Your Lamps:</span> Choose from a comprehensive database of street lamps, categorized by type, wattage, and other relevant specifications.</li>
      <li><span class="text-bold">Input Power Ratings:</span> Enter the power ratings for each selected lamp, or use our pre-calculated averages for common lamp types.</li>
      <li><span class="text-bold">Calculate & Analyze:</span> With the click of a button, calculate the total power consumption and explore the data through interactive charts and graphs.</li>
      <li><span class="text-bold">Implement Change:</span> Armed with knowledge, take the next steps towards reducing the carbon footprint of your city’s lighting.</li>
   </ol>     
</div>
<div class="text-big text-bold">
   Join Our Community
</div>
<div class="md-m-y">
   Street Light Calculator is more than a tool—it’s a movement. Join us in our quest to brighten the future, one lamp at a time. Together, we can make a difference for our planet and pave the way for a more sustainable tomorrow.
</div>

