<div class="flex-center">
   <div class="flex text-container">
      <div class="title huge-m-b">About</div>
      <div>
         Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean non venenatis tellus. 
         Vivamus ut tellus efficitur, pellentesque sapien id, consequat mauris. 
         Praesent non congue risus, ut ultricies sapien. Nulla vehicula gravida euismod. 
         Proin non eros eget felis convallis blandit. Nullam ultricies enim non congue tincidunt. 
         In aliquam tellus bibendum mollis bibendum.

         Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. 
         Maecenas rhoncus massa lorem, ultrices fringilla erat egestas quis. 
         Quisque justo mi, imperdiet ornare iaculis in, cursus non velit. 
         Etiam in nibh iaculis, egestas lectus vitae, euismod diam. 
         Aenean tincidunt lacinia ante vel semper. Pellentesque vel diam at felis molestie condimentum. 
         Quisque luctus tristique eros, quis congue ligula porttitor ac. 
         Integer at massa bibendum, lacinia sem quis, sollicitudin ipsum. 
         Integer pulvinar semper suscipit. Curabitur eget erat eget felis euismod vulputate vel id erat. 
         Curabitur volutpat libero et pharetra pharetra. Cras vitae maximus velit. 
         Curabitur diam diam, facilisis sollicitudin sodales vel, efficitur ut mauris. 
         Integer orci nulla, feugiat in varius et, feugiat a ante.
      </div>
   </div>
   <div class="flex img-container">
      <img src="../../assets/cathedral-7977078_1280.jpg" alt="Wrocław city"/>
   </div>
</div>
