/* You can add global styles to this file, and also import other style files */

@import "variables";

html, body { height: 100%; background-color: $backgroundColor}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.sm-p-x {
   padding-left: $mdPad;
   padding-right: $smPad;
}

.sm-m-x {
   margin: 0 $smPad;
}
.sm-m-y {
   margin: $smPad 0;
}

.sm-m {
   margin: $smPad $smPad;
}

.md-m-x {
   margin: 0px $mdPad;
}

.md-m-y {
   margin: $mdPad 0px;
}

.md-p-x {
   margin: 0px $mdPad;
}

.md-p-r {
   margin-right: $mdPad;
}

.huge-m-b {
   margin-bottom: 60px;
}

.w-full {
   width: 100%;
}

.center {
   margin: auto;
   width: fit-content;
}

.flex-center {
   display: flex;
   align-items: center;
   justify-items: center;
}

.flex {
   flex: 1 1 auto;
}

.flex-col {
   flex-direction: column;
}

nav a {
   text-decoration: none;
   color: white;
}

.spacer {
   flex: 1 1 auto;
}

.container {
   padding: $smPad 5% $footerSize 5%;
   min-height: calc(100% - $toolbarSize - 2*$smPad);
}

.title {
   font-size: 40px;
   font-weight: bold;
}

.text-big {
   font-size: 20px;
}

.text-bold {
   font-weight: bold;
}